.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

.header {
border-bottom: 1px solid #e7e9fc; 
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation-header {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.span-header {
    color: #2e2f42;
}

.list-header {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-link-header {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;}

.navigation-link-header:hover,
.navigation-link-header:focus {
    color: #404bbf;
}

.navigation-link-header:active {
    color: #404bbf;
     text-decoration: underline;   
}

.list-addresse {
    display: flex;
    align-items: center;
    gap: 40px;
}
.link-contacts {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    font-style: normal;}

.address {
    font-style: normal;
    margin-left: auto;
}

.link-contacts:hover,
.link-contacts:focus {
    color: #404bbf;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-solutions {
    background-color: #2e2f42; 
    padding: 188px 0;
}

.title-solutions {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin: 0 auto 48px;
    max-width: 496px;
}

.button-solutions {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:480px;
    margin-right: 480px;
}

.button-solutions:hover,
.button-solutions:focus {
    background-color: #404BBF
}

.list-studio {
    display: flex;
    align-self: center;
    gap: 24px;
}

.item-studio {
 width: calc((100% - 72px)/4);
}

.item-subtitle-studio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.item-text-studio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8px;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-our-team {
    background-color: #f4f4fd;
}

.our-team-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.list-our-team {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 72px;

}
.item-our-team {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px)/4);
}
.our-team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

.our-team-text-container {
    padding: 32px 0;
    gap: 8px;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    row-gap: 48px;
    column-gap: 24px;
    margin-top: 72px;
}

.portfolio-item {
    background-color: #FFFFFF;
    width: calc ((100% - 48px) / 3);
}

.portfolio-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-text-container {
    border-right: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    padding: 32px 16px;
    gap: 8px; 
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    max-width: 264px;
}

.span-footer {
    color: #f4f4fd;
}
